.lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
}

.lobby h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

.lobby form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.lobby input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

.lobby input:focus {
    border-color: #007bff;
}

.lobby button {
    padding: 10px 20px;
    width: 250px;
    background-color: #007bff;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lobby button:hover {
    background-color: #0056b3;
}

.lobby input::placeholder {
    color: #aaa;
}

/* Estilos generales para el contenedor principal del chat */
.chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Título del chat */
.chat-container > div {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Lista de mensajes */
.message-list {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Cada mensaje individual */
.message-item {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.message-item span {
    color: #333;
    font-size: 1rem;
}

/* Formulario de mensaje */
.message-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-form textarea {
    padding: 10px;
    resize: none;
    field-sizing: content;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    resize: none;
}

.message-form textarea::placeholder {
    color: #999;
}

.message-form button {
    padding: 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.message-form button:hover {
    background-color: #0056b3;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }











